<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>ooopppss, 404!</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


	<link href="/404Styles.css" rel="stylesheet">
		
</head>
<body>

	<div class="container">
		
		<a href="/indexList">
			<div class="imgHome">
				<img src="https://conzeptools.com/nodeAssets/home1.png"/>
			</div>
		</a>
	
		<div class="imgBox">
			<img src="https://conzeptools.com/nodeAssets/404.png"/>
		</div>
	</div>

</body>
</html>