<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>About conzeptools</title>
		
		<link rel="stylesheet" href="/styles.css">
		<link rel="stylesheet" href="/buttonsAdditionalColors.css">
		
	</head>
    <body>
        <div class="mainForm">
            <div class="contactForm">
			
				<div class="contactHeader">
					<img class="compLogo" src="logo.png">
					<a href="/contacts" class="btn btnBlack"> Home<span class="fas fa-chevron-right"></span> </a>
					
				</div>
				
				<div class="flow">
				
					
					<p>This <strong>conzeptools</strong> contact list project is intended for personal use only. 
						If for any reason you find it interesting and wanted to have a customized version,
					please feel free to get in touch with me so I can create your customized contact list.</p>


					<p>This <strong>conzeptools</strong> contact list project is written in pure <strong>NodeJs</strong> platform.</p>
				
					<p><strong></strong>You may get in touch with me through: </strong><br>
					
					Mobile #: +63 995 138 6499<br>
					Email address: angel.webinfo@gmail.com<br>
					
					
					
					
					</p>
				
				</div>
				
			</div>		
			
			
		</div>	
	
		
    </body>
</html>