<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass Quires </title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="styleQuires.css">

</head>
<body>
    


<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> pass <span>quires</span> </h1>

    <div class="box-container">

        <% if (listItems.length > 0) { %>

            <% listItems.forEach(listItem => { %>

            <a href="/indexList/<%= listItem._id %>">
            <div class="box">
                <!--i class="fas fa-notes-medical"></i-->
                <h3><%= listItem.accessFor %></h3>
                <p><%= listItem.memo %></p>
                <!--a href="#" class="btn"> PassQuire <span class="fas fa-chevron-right"></span> </a-->
            </div>
            </a>

            
			<% }) %>

        <% }  else { %>
            <div class="box">
                <h3>No List To Display</h3>
                <p>Click ADD button to add entries to the list</p>
                </div>
        <% } %>




            <!--
       <div class="box">
            <i class="fas fa-notes-medical"></i>
            <h3>angel.webinfo@gmail.com</h3>
            <p>Email address for use with all internet related systems.</p>
        </div>
    -->

    </div>
	<a href="/indexList/addList" class="btn"> Add <span class="fas fa-chevron-right"></span> </a>

</section>

<!-- services section ends -->



<!-- footer section starts  -->

<section class="footer">

   

    <div class="credit"> created by <span><a href="/about">conzepTools</a></span> | all rights reserved </div>

</section>

<!-- footer section ends -->


















<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>