@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
	--primary-color: #2b72bf; /* wmoc blue */
	--secondary-color: #dadce0;
	--wmoc-blue:#2b72bf;
	--padding:2rem 9%;
	--paddingShort:2rem 25%;
	
	--back-layer:rgba(0,0,0,.4);
	--inFocus: #8B0000;
}

html {
	font-size: .5rem;
}




/***********essentials**************/

.mainWrapper {
	width: 100%;
	padding: var(--padding);
	
}


input {             /*input box height*/
	height: 5rem;
}





.Clnbtn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem;
    /*border: 2px solid var(--primary-color);*/
    border-radius: .5rem;
    box-shadow: var(--secondary-color);
	font-size: 1.5rem;
    /*color:var(--primary-color);*/
    /*cursor: pointer;
    
    background: #fff;
	transition: .2s ease;*/
}





form .form__group {
	height: 4rem; /*height of the form container, affects the distance between input forms (4.5 orig)*/
	margin-bottom: 2.5rem; /* creates distance between column form */
}

form .form__group input{
	padding: 1.8rem;
	border: 2px solid var(--secondary-color);
	display: block;
	width: 100%;
	outline: none;
	border-radius: .8rem;
	font-size: 1.8rem; /* inside label font size */
}

form .form__group label {
	display: block;
	transform: translate(2rem, -3.8rem); /* Places the label inside the form */
	font-size: 1.8rem;
	pointer-events: none;
	transition: .2s ease;
	color: #979797;
}


form .uplabel label {
	display: block;
	transform: translate(2rem, -7.5rem); /* Places the label inside the form */
	font-size: 1.5rem;
	pointer-events: none;
	transition: .2s ease;
	color: #979797;
	padding-top: 0.5rem;

}


/*** form border color turns blue ***/
form .form__group input:focus {
	border: 2px solid var(--inFocus);
}


form .form__group select:focus {
	border: 2px solid var(--primary-color);
}


/********this creates the label animation going on top when clicked********/
form .form__group input:focus + label {
	/*transform: translate(14rem, -7.2rem);*/
	transform: translate(2rem, -6.2rem); /* -7.2 aligns small label to the borderline */
	color: var(--inFocus); /* small label color  */
	display: inline-block;
	font-size: 1.2rem; /* small label font size  */
	padding: .5rem;
	background-color: #fff;
}
/****************************************************************************/


/***  This makes sure that if entry is valid it will stay in the form   ***/
form .form__group input:valid {
	border: 2px solid var(--inFocus);
}

/*form .form__group select:valid {
	border: 2px solid var(--primary-color);
}*/


/***  This makes sure that if entry is valid it will stay in the form   ***/

form .form__group input:valid + label {
	transform: translate(2rem, -6.2rem);
	display: inline-block;
	font-size: 1.2rem;
	padding: .5rem;
	background-color: #fff;
	color: var(--inFocus);
}


a {
	color: var(--primary-color);
	/*font-weight: bold;*/
}
